/* Header.module.css */

.headerContainer {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background: linear-gradient(to bottom right, #dc2626, #f59e0b); /* Red to yellow gradient */
}

/* Icon Container Styles */
.iconContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0.8;
  border-radius: 50%;
  margin-top: 2.5rem;
  gap: 1.5rem; /* Adjusted for smaller screens */
}

/* Icon Hover Effects */
.icon {
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.1);
}

/* Icon Size for Different Screens */
.educationIcon,
.skillsIcon,
.codeIcon,
.certificateIcon {
  width: 4rem; /* Default size for small screens */
}

@media (min-width: 640px) {
  .educationIcon,
  .skillsIcon,
  .codeIcon,
  .certificateIcon {
    width: 5rem; /* Tablets and small devices */
  }
}

@media (min-width: 768px) {
  .educationIcon,
  .skillsIcon,
  .codeIcon,
  .certificateIcon {
    width: 6rem; /* Medium screens */
  }
}

@media (min-width: 1024px) {
  .educationIcon,
  .skillsIcon,
  .codeIcon,
  .certificateIcon {
    width: 7rem; /* Large screens */
  }
}

/* Glass Container Styles */
.glassContainer {
  position: relative;
  z-index: 30;
  max-width: 90%; /* Ensure it fits on small screens */
  width: 100%;
  padding: 1.5rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  margin: 1.5rem auto; /* Center it on small screens */
}

@media (min-width: 768px) {
  .glassContainer {
    max-width: 28rem;
    margin-left: 12rem;
    margin-bottom: 3rem;
  }
}

/* Header Title Styles */
.headerTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  text-align: center;
}

@media (min-width: 640px) {
  .headerTitle {
    font-size: 1.75rem; /* Slightly larger for small devices */
  }
}

@media (min-width: 768px) {
  .headerTitle {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .headerTitle {
    font-size: 2.5rem;
  }
}
