/* HeroSection.module.css */

.section {
  margin-top: 3rem;
  background:#121212;
  padding:4rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

@media (min-width: 640px) {
  .gridContainer {
    grid-template-columns: repeat(12, 1fr);
  }
}

.textSection {
  grid-column: span 12 / span 12;
  text-align: center;
  padding-inline: 1rem;
}

@media (min-width: 640px) {
  .textSection {
    grid-column: span 7 / span 7;
    text-align: left;
  }
}

.heading {
  color: white;
  margin-bottom: 1rem;
  font-size: 1.875rem;
  font-weight: bold;
}

@media (min-width: 640px) {
  .heading {
    font-size: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .heading {
    font-size: 3rem;
  }
}

.gradientText {
  background: linear-gradient(to right, #dc2626, #f59e0b);
  -webkit-background-clip: text;
  color: transparent;
}

.description {
  color: #ADB7BE;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 640px) {
  .description {
    font-size: 1.125rem;
  }

  .description {
    font-size: 1.25rem;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 640px) {
  .buttonContainer {
    flex-direction: row;
  }
}

.hireButton {
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  background: linear-gradient(to bottom right, #dc2626, #f59e0b);
  color: black;
  text-align: center;
}

.downloadButton {
  border-radius: 9999px;
  background: linear-gradient(to bottom right, #3b82f6, #dc2626, #f59e0b);
  color: white;
  text-align: center;
  border: 1px solid white;
}

.downloadButton span {
  display: block;
  background-color: #121212;
  border-radius: 9999px;
  padding: 0.75rem 1.5rem;
}

.imageSection {
  grid-column: span 12 / span 12;
  text-align: center;
  padding-inline: 1rem;
}

@media (min-width: 640px) {
  .imageSection {
    grid-column: span 5 / span 5;
    margin-top: 2rem;
  }
}

.neonBorder {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 640px) {
  .neonBorder {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 1024px) {
  .neonBorder {
    width: 400px;
    height: 400px;
  }
}