/* Hamburger.module.css */
.hamburgerButton {
    background-color: #333;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .hamburgerButton.open {
    background-color: #555;
  }
  