/* Header3.module.css */

.headerContainer {
    position: fixed;
    top: 3.5rem;
    left: 0;
    right: 0;
    padding-top: 2.5rem;
    padding-inline: 2.5rem;
    background: linear-gradient(to bottom right, #dc2626, #f59e0b); /* Red to yellow gradient */
    z-index: 10;
  }
  
  .iconContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    border-radius: 50%;
    gap: 1rem;
  }
  
  @media (min-width: 768px) {
    .iconContainer {
      gap: 2rem;
    }
  }
  
  .icon {
    transition: transform 0.3s;
    margin-top: -0.625rem;
  }
  
  .icon:hover {
    transform: scale(1.1);
  }
  
  .projectIcon {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
  }
  
  @media (min-width: 1024px) {
    .projectIcon {
      margin-top: 11rem;
    }
  }
  
  .glassContainer {
    position: relative;
    z-index: 30;
    max-width: 20rem;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    text-align: center;
  }
  
  .headerTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
  }
  
  @media (min-width: 768px) {
    .headerTitle {
      font-size: 2rem;
    }
  }
  
  @media (min-width: 1024px) {
    .headerTitle {
      font-size: 2.5rem;
    }
  }
  