/* Navbar.module.css */
.navbar {
  background-color: #121212;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid #33353F;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar__logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navLinks__desktop {
  display: flex;
}

.navLinks {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navLinks li {
  margin-left: 20px;
}

.hamburger-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.navLinks__mobile {
  display: block;
  /* Mobile styles go here */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
